/*********************************************
	Floating login/registration box;
*********************************************/
.login-float-container{
	border-top:none;
	height:35px;
	width:150px;
	min-height:30px;
	height:auto;
	min-width:150px;
	z-index:100;
	top:0px;
	text-align:center;
	border-style:solid;
	box-shadow:1px 1px 1px #666;
	font-size:17px;
	border-width:1px;
	background-color:#fff;
	position:fixed;
}
.login-float-login,
.login-float-register
{
	display:inline;
}
.login-float-login a,
.login-float-register a
{
	font-weight:bold;
	font-size:0.9em;
	text-decoration:none;
	color:#000;
}
.login-float-login{	
	margin-right:-1px;
}
.login-float-register{
	padding-left:2px ;	
}
.login-float-container:hover{
	cursor:pointer;
}
.login-float-login a:hover,
.login-float-register a:hover
{
	transition: all .1s ease-in;
	color:#c9c9c9;	
	text-decoration:none;
}